.container {
  position: absolute;
  top: 10%;
  bottom: 10%;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
  pointer-events: none;
}

.left {
  left: 5%;
}

.right {
  right: 5%;
}

.icon {
  font-size: 3rem;
  color: var(--color-green);
  opacity: 0.6;
  filter: drop-shadow(0 4px 6px rgba(0,0,0,0.1));
}
